<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    <!-- in above we have provided the path of style file inside public folder haven't mention this
        (../public) because inside script.js we already create a middleware for it -->
</head>
<body>

    <%= age %>  <!-- it tell the ejs to which variable value must be change -->

    <script src="/javascripts/script.js"></script>
    <!-- we have already set the middleware for it -->
</body>
</html>